@media (min-width:320px)  {   .sidebar, .content {
     float: left;
     width: 75%;

     } text-intro {
       /* display: flex; */
       font-size: 12px;
       max-width: 47%;
     }

  } about-text {
    /* display: flex; */
    font-size: 12px;
    max-width: 47%;
  }/* smartphones, iPhone, portrait 480x320 phones */ 


@media (min-width:481px)  {   .sidebar, .content {
     float: left;
     width: 75%;
  }/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }


@media (min-width:641px)  {   .sidebar, .content {
     float: left;
     width: 75%;
  }/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }


@media (min-width:961px)  {   .sidebar, .content {
     float: left;
     width: 75%;
  }/* tablet, landscape iPad, lo-res laptops ands desktops */ }


@media (min-width:1025px) {   .sidebar, .content {
     float: left;
     width: 75%;
  }/* big landscape tablets, laptops, and desktops */ }


@media (min-width:1281px) {   .sidebar, .content {
     float: left;
     width: 75%;
  }/* hi-res laptops and desktops */ }




  /* Desktops and laptops ----------- */
  @media only screen
  and (min-width : 1224px) {
    } about-text {
      /* display: flex; */
      font-size: 12px;
      max-width: 47%;
    }      text-intro {
           /* display: flex; */
           font-size: 35px;
           max-width: 47%;
         }


  /* Large screens ----------- */
  @media only screen
  and (min-width : 1824px) {
    } about-text {
      /* display: flex; */
      font-size: 12px;
      max-width: 60%;
      } text-intro {
        /* display: flex; */
        font-size: 40px;
        max-width: 60%;
      }
