body {
  background-color: #323232;
  color: white;
  font-family: 'Hind', sans-serif;
  margin: 0;
  width: 100%;
}

footer {
   background-color: turquoise;
   padding: 10px 0 ;
}


.big-landing {
  /* background-color: red; */
  padding-bottom: 0;
}

.bck-img {
  background-attachment: fixed;
  background-image: url("images/subway.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
}

.subtitle {
  font-size: 20px;
}

.text-intro {
  font-size: 40px;
  padding-left: 40%;
  padding-top: 38%;
  text-transform: uppercase;
}

/* ~~~~~~ */

.one {
  background-color: blue;
  height: 150px;
  width: 50%;
}

.two {
  background-color: red;
  height: 150px;
  width: 50%;
}

.three {
  background-color: green;
  height: 150px;
  width: 50%;
}

.four {
  background-color: turquoise;
  height: 150px;
  width: 50%;
}

.projects-container {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-grid-1 {
  /* background-color: black; */
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

.projects-grid-2 {
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

/* ~~~~~~~~ Text Over Image ~~~~~~~~ */

a{text-decoration:none;}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
  .textOverImage{background-size:cover!important;}
}

.textOverImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 4px;
  display: flex;
  /* box-shadow: 0 0 7px #000; */
  flex-wrap: wrap;
  float: left;
  height: 342px;
  margin: 40px;
  overflow: hidden;
  position:  relative;
  transition: 0.5s;
  width: 500px;
}

.textOverImage:hover{
  background-size: 110%;
}

.textOverImage:before{
  /* background-color: rgba(0,0,0,0.3); */
  bottom: 0;
  color: #fff;
  content:attr(data-title);
  font-size: 1.5em;
  font-weight: bold;
  left: 0;
  padding: 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(90%);
  transition: 0.5s 0.1s;
}

.textOverImage:after{
  bottom: 0;
  color: #fff;
  content:attr(data-text);
  left: 0;
  margin-top: 8px;
  opacity: 0;
  padding: 8px;
  padding-top: 2em;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(100%);
  transition: 0.5s;
}

.textOverImage:hover:after{
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s 0.1s;
}

.textOverImage:hover:before{
  background-color: rgba(0,0,0,0.6);
  padding: 8px;
  transform: translateY(0);
  transition: 0.5s;
}


/* ~~~~~~ about ~~~~~~ */

.about-pic {
  background-attachment: fixed;
  background-image: url("images/DSC_0874.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 100%;
}

.about-text {
  padding-left: 10%;
  padding-top: 10%;
  width: 45%;
}

.about {
  color: black;
  padding-bottom:  100px;
}


/* ----- Tech ----- */

.tech-background {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
}

.tech-background ul {
  font-size: 35px;
}

.tech-background li {
  font-size: 25px;
  list-style-type: none;
}

.tech-background li:hover {
  color: turquoise;
  list-style-type: none;
}


/* ----- Footer ----- */

.footer {
  background-color: turquoise;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;
}

.left-box {
  color: black;
  height: 200px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  width: 350px;
}

.left-box h1 {
  font-size: 35px;
}

.left-box p {
  font-size: 18px;
}

.left-box p:hover {
  color: white;
}

.right-box {
  color: black;
  height: 200px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  width: 350px;
}

.right-box h1 {
  font-size: 35px;
}

.right-box img {
  height: 50px;
  width: 50px;
}
