body {
  background-color: #eff2f3;
  color: white;
  font-family: 'Hind', sans-serif;
  margin: 0;
  width: 100%;
}

footer {
  padding: 10px 0 ;
}

.particles-js {
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bck-img {
  height: auto;
  max-width: 100%;
}

.hero {
  background: rgb(14,255,206) no-repeat center center fixed;
  background: linear-gradient(0deg, rgba(14,255,206,1) 0%, rgba(31,150,255,1) 98%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  /* position: absolute; */
  margin-top: -25px;
  width: 100%;
  -webkit-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  -o-transform: skewY(-1deg);
  transform: skewY(-1deg);
}

.text-intro {
  float: right;
  font-size: 40px;
  overflow-y: scroll;
  overflow: auto;
  padding-left: 2em;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  top: 5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);  /* INVERSE SKEW */
}

/* Haley underline */

.haley {
  color: black;
  position: relative;
  text-decoration: none;
}

.haley:hover {
  color: black;
}

.haley:before {
  background-color: black;
  bottom: 0;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.haley:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* .svg {
  padding-top: 25.25%;
  position: relative;
} */

.projects {
  /* background-color: #eaeff1; */
  color: black;
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* .row {
  background-color: #eaeff1;
} */


/* ~~~~~~ about ~~~~~~ */

/* .about-pic {
  height: auto;
  max-width: 100%;
}

.about-text {
  max-width: 47%;
  padding-left: 10%;
  padding-top: 20%;
  position: absolute;
  word-wrap: break-word;
}

.about-text h1 {
  font-size: 25px;
}

.about-text p {
  font-size: 22px;
}

.about {
  color: black;
  padding-bottom:  100px;
} */


/* ----- Tech ----- */

.tech-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 65px 0 65px 0;
}

.tech-background ul {
  font-size: 35px;
}

.tech-background li {
  font-size: 25px;
  list-style-type: none;
}

.tech-background li:hover {
  list-style-type: none;
}

.tech-tile {
  color: black;
  padding: 5px;
}

.tech-tile img {
  height: 120px;
  width: 120px;
}

.tech-tile img:hover {
  transform: translateY(5%)
}

.tech-title {
  color: black;
  display: flex;
  font-size: 35px;
  justify-content: center;
  padding-top: 10px;
}


/* ----- Footer ----- */

.footer {
  background: rgb(14,255,206) no-repeat center center fixed;
  background: linear-gradient(0deg, rgba(14,255,206,1) 0%, rgba(31,150,255,1) 98%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -25px;
  outline: 1px solid transparent; /* removed jagged div edge */
  padding-bottom: 40px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  -o-transform: skewY(-1deg);
  transform: skewY(-1deg);
}

.left-box {
  color: white;
  height: 200px;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  width: 350px;
}

.left-box h1 {
  font-size: 35px;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
}

.left-box p {
  font-size: 18px;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
}

.left-box p:hover {
  color: white;
}

.left-box a {
  color: purple
}

.right-box {
  color: white;
  height: 200px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-left: 50px;
  text-align: center;
  width: 350px;
}

.right-box h1 {
  font-size: 35px;
  padding-right: 75px;
  text-align: center;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
}

.right-box img {
  height: 75px;
  width: 75px;
  -webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
}


.icon1:hover {
  transform: rotateY(180deg);
}

.icon1 {
	transition: 0.6s;
	transform-style: preserve-3d;
  float: left;
}

.icon2:hover {
  transform: rotateY(180deg);
}

.icon2 {
	transition: 0.6s;
	transform-style: preserve-3d;
  float: left;
}

.icon3:hover {
  transform: rotateY(180deg);
}

.icon3 {
	transition: 0.6s;
	transform-style: preserve-3d;
  float: left;
}










/* ~~~~~~~~ Text Over Image ~~~~~~~~ */

/* a{text-decoration:none;}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
  .textOverImage{background-size:cover!important;}
}

.textOverImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  height: 342px;
  margin: 40px;
  overflow: hidden;
  position:  relative;
  transition: 0.5s;
  width: 500px;
}

.textOverImage:hover{
  background-size: 110%;
}

.textOverImage:before{
  bottom: 0;
  color: #fff;
  content:attr(data-title);
  font-size: 1.5em;
  font-weight: bold;
  left: 0;
  padding: 0 8px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(90%);
  transition: 0.5s 0.1s;
}

.textOverImage:after{
  bottom: 0;
  color: #fff;
  content:attr(data-text);
  left: 0;
  margin-top: 8px;
  opacity: 0;
  padding: 8px;
  padding-top: 2em;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(100%);
  transition: 0.5s;
}

.textOverImage:hover:after{
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s 0.1s;
}

.textOverImage:hover:before{
  background-color: rgba(0,0,0,0.6);
  padding: 8px;
  transform: translateY(0);
  transition: 0.5s;
} */
